@import './reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html,
  #root {
    @apply h-full scroll-smooth;
  }

  body {
    --mantine-font-family: theme(fontFamily.sans);
    @apply bg-default antialiased;
  }

  body,
  div,
  p,
  article {
    @apply scrollbar;
  }

  h1 {
    @apply text-xl font-bold sm:text-2xl xl:text-4xl;
  }

  h2 {
    @apply text-lg font-semibold sm:text-xl xl:text-2xl;
  }

  h3 {
    @apply font-semibold sm:text-lg;
  }
}

@layer components {
  .button-base {
    @apply inline-flex cursor-pointer items-center gap-2 rounded-md border border-solid px-3.5 py-2.5 align-top text-sm font-semibold 
      leading-normal shadow-sm transition-colors focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 
      focus-visible:outline-zinc-900 dark:focus-visible:outline-zinc-400;
  }

  .button-base:disabled {
    @apply pointer-events-none cursor-not-allowed opacity-50;
  }

  .button-base:not(:has(> :only-child)) {
    /* apply styles to .button-base that has more than 1 child */
    @apply h-11;
  }

  .button {
    @apply button-base border-zinc-900 bg-zinc-900 text-white
      hover:bg-transparent hover:text-zinc-900 focus-visible:hover:border-transparent
      dark:border-transparent dark:bg-zinc-300 dark:text-black hover:dark:bg-zinc-100;
  }

  .button-secondary {
    @apply button-base border-zinc-200 bg-transparent text-inherit hover:border-zinc-900 hover:text-inherit 
      dark:border-zinc-600 dark:hover:border-zinc-200;
  }

  .button-affix {
    @apply fixed bottom-4 right-4 mix-blend-difference invert dark:invert-0;
  }

  .text-reverse {
    @apply text-white dark:text-zinc-900;
  }

  .text-gradient {
    @apply bg-gradient-to-r from-rose-500 to-violet-500 bg-clip-text text-transparent;
  }

  .glass {
    @apply bg-zinc-50/40 backdrop-blur-md transition-all dark:border-slate-50/[0.06] dark:bg-transparent sm:bg-transparent;
  }

  .bg-watermark {
    @apply relative before:absolute before:inset-0 before:-z-10 before:h-full before:w-full before:bg-cover before:bg-center before:opacity-40 before:content-[''];
  }

  .text-watermark {
    @apply absolute -z-10 select-none bg-transparent;
  }

  .link-unstyled {
    @apply text-inherit hover:text-inherit hover:no-underline;
  }

  .link-secondary {
    @apply text-inherit hover:no-underline;
  }

  /* Section Shape dividers */

  .section-shape {
    @apply absolute inset-x-0 -z-[1] overflow-hidden;
  }

  .section-shape > svg {
    @apply h-24 w-[calc(100%+1.3px)];
  }

  .section-skew {
    @apply relative isolate;
  }

  .section-skew::after {
    @apply absolute inset-x-0 -top-10 bottom-0 -z-[1] -skew-y-3 content-[''];
  }
}

@layer utilities {
  .bg-default {
    @apply bg-zinc-50 text-black dark:bg-zinc-900 dark:text-zinc-200;
  }

  .bg-reverse {
    @apply bg-zinc-900 text-zinc-200 dark:bg-zinc-50 dark:text-zinc-900;
  }

  .bg-theme {
    @apply bg-[#d6dbdc80] bg-gradient-to-t from-transparent to-white bg-no-repeat dark:bg-inherit dark:bg-none;
  }

  .shadow-t-theme {
    @apply shadow-[0_-8px_5px_-5px] shadow-zinc-600/10 dark:shadow-zinc-400/10;
  }

  .outline-default {
    @apply outline-zinc-900 dark:outline-zinc-400;
  }

  .scrollbar::-webkit-scrollbar {
    width: 16px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 16px;
    border: 4px solid transparent;
    background-clip: content-box;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }

  .scrollbar-mac::-webkit-scrollbar-thumb {
    background-color: #babac0;
  }
}
