@layer reset, mantine, mantine-datatable;

@layer reset {
  *,
  ::before,
  ::after {
    border-width: 0;
    border-style: solid;
    border-color: theme('borderColor.DEFAULT', 'currentColor');
  }

  blockquote,
  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre {
    @apply m-0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    @apply block align-middle;
  }

  img,
  video {
    @apply h-auto max-w-full;
  }

  img {
    @apply bg-cover bg-no-repeat align-middle italic;
  }

  iframe {
    color-scheme: normal;
  }

  ol,
  ul {
    @apply m-0 list-none p-0;
  }

  a {
    @apply text-blue-600 no-underline transition-colors hover:text-blue-400;
  }

  .mantine-Badge-label {
    @apply align-middle;
  }

  .mantine-Modal-close {
    @apply -mt-2;
  }

  [data-rmiz-btn-unzoom] {
    @apply transition-opacity;
  }

  [data-rmiz-modal-overlay='hidden'] + [data-rmiz-modal-content] [data-rmiz-btn-unzoom] {
    @apply opacity-0;
  }
}
